In [33]:
import pandas as pd
import pickle
import numpy as np

https://arxiv.org/abs/1604.06737

https://www.fast.ai/2018/04/29/categorical-embeddings/

https://youtu.be/XJ_waZlJU8g?t=4660

https://www.youtube.com/watch?v=5_xFdhfUnvQ&feature=youtu.be

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

https://github.com/entron/entity-embedding-rossmann

https://github.com/terry-li-hm/rossmann

In [34]:
def apply_cats(df, trn):
    """Changes any columns of strings in df into categorical variables using trn as
    a template for the category codes.
    Parameters:
    -----------
    df: A pandas dataframe. Any columns of strings will be changed to
        categorical values. The category codes are determined by trn.
    trn: A pandas dataframe. When creating a category for df, it looks up the
        what the category's code were in trn and makes those the category codes
        for df.
    Examples:
    ---------
    >>> df = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['a', 'b', 'a']})
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    note the type of col2 is string
    >>> train_cats(df)
    >>> df
       col1 col2
    0     1    a
    1     2    b
    2     3    a
    now the type of col2 is category {a : 1, b : 2}
    >>> df2 = pd.DataFrame({'col1' : [1, 2, 3], 'col2' : ['b', 'a', 'a']})
    >>> apply_cats(df2, df)
           col1 col2
        0     1    b
        1     2    a
        2     3    a
    now the type of col is category {a : 1, b : 2}
    """
    for n,c in df.items():
        if (n in trn.columns) and (trn[n].dtype.name=='category'):
            df[n] = c.astype('category').cat.as_ordered()
            df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)

In [35]:
PATH='dataset/rossmann/'

In [36]:
# ! pip install pyarrow

In [37]:
joined = pd.read_feather(f'{PATH}joined.feather')
joined_test = pd.read_feather(f'{PATH}joined_test.feather')

Como elegir Validación:

https://www.fast.ai/2017/11/13/validation-sets/

In [38]:
joined.head().T

,0,1,2,3,4
index,0,1,2,3,4
Store,1,2,3,4,5
DayOfWeek,5,5,5,5,5
Date,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00,2015-07-31 00:00:00
Sales,5263,6064,8314,13995,4822
...,...,...,...,...,...
StateHoliday_bw,0.0,0.0,0.0,0.0,0.0
Promo_bw,5.0,5.0,5.0,5.0,5.0
SchoolHoliday_fw,7.0,1.0,5.0,1.0,1.0
StateHoliday_fw,0.0,0.0,0.0,0.0,0.0
Promo_fw,5.0,1.0,5.0,1.0,1.0

# cat_vars y contin_vars

In [39]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw', 'StateHoliday_bw',
    'SchoolHoliday_fw', 'SchoolHoliday_bw']

contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

n = len(joined);

In [40]:
# Me quedo solo con las variables de interes
dep = 'Sales'
joined = joined[cat_vars+contin_vars+[dep, 'Date']].copy()

joined_test[dep] = 0
joined_test = joined_test[cat_vars+contin_vars+[dep, 'Date', 'Id']].copy()

In [41]:
for v in cat_vars: joined[v] = joined[v].astype('category').cat.as_ordered()

# se define cat_sz

In [42]:
# el +1 es para las unknown
cat_sz = [(c, len(joined[c].cat.categories)+1, min(50, (len(joined[c].cat.categories)+1+1)//2)) for c in cat_vars]

In [43]:
cat_sz

[('Store', 1116, 50),
 ('DayOfWeek', 8, 4),
 ('Year', 4, 2),
 ('Month', 13, 7),
 ('Day', 32, 16),
 ('StateHoliday', 3, 2),
 ('CompetitionMonthsOpen', 26, 13),
 ('Promo2Weeks', 27, 14),
 ('StoreType', 5, 3),
 ('Assortment', 4, 2),
 ('PromoInterval', 4, 2),
 ('CompetitionOpenSinceYear', 24, 12),
 ('Promo2SinceYear', 9, 5),
 ('State', 13, 7),
 ('Week', 53, 27),
 ('Events', 22, 11),
 ('Promo_fw', 7, 4),
 ('Promo_bw', 7, 4),
 ('StateHoliday_fw', 4, 2),
 ('StateHoliday_bw', 4, 2),
 ('SchoolHoliday_fw', 9, 5),
 ('SchoolHoliday_bw', 9, 5)]

In [44]:
# Aplica la misma regla de encoding usada en joined a joined_test
apply_cats(joined_test, joined)

/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)
/var/folders/zf/fg68pxbn0ys0ljbx0b3pmxrw0000gq/T/ipykernel_73021/2225282543.py:38: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df[n].cat.set_categories(trn[n].cat.categories, ordered=True, inplace=True)

In [45]:
for v in contin_vars:
    joined[v] = joined[v].fillna(0).astype('float32')
    joined_test[v] = joined_test[v].fillna(0).astype('float32')

In [46]:
joined = joined.set_index("Date")
joined_test = joined_test.set_index("Date")

In [47]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
# from keras.layers import merge
from keras.optimizers import Adam

In [48]:
from sklearn_pandas import DataFrameMapper
# from sklearn.preprocessing import LabelEncoder, Imputer, StandardScaler

In [49]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [50]:
joined['PromoInterval'].astype('str')

Date
2015-07-31                nan
2015-07-31    Jan,Apr,Jul,Oct
2015-07-31    Jan,Apr,Jul,Oct
2015-07-31                nan
2015-07-31                nan
                   ...
2013-01-01                nan
2013-01-01                nan
2013-01-01    Jan,Apr,Jul,Oct
2013-01-01                nan
2013-01-01                nan
Name: PromoInterval, Length: 844338, dtype: object

In [52]:
cat_mapper = DataFrameMapper(cat_maps)
cat_map_fit = cat_mapper.fit(joined)
cat_cols = len(cat_map_fit.features)
cat_cols

22

In [22]:
# from keras.layers import Flatten, Embedding, Input, merge, Dense, Dropout
from keras.layers import Flatten, Embedding, Input, Dense, Dropout
from keras.models import Model

In [23]:
from keras.layers import Concatenate

     from keras.layers import Concatenate


3. Update deprecated code:
- The code uses the deprecated merge function from keras.layers. Replace it with Concatenate:

In [24]:
cont_out = len(contin_vars)

In [53]:
def get_emb(cat_sz):
    name, c, c2 = cat_sz
    inp = Input((1,), dtype='int64', name=name+'_in')
    u = Flatten(name=name+'_flt')(Embedding(c, c2, input_length=1)(inp))
    return inp, u

def get_contin(name):
    inp = Input((1,), name=name+'_in')
    return inp, Dense(1, name=name+'_d')(inp)

In [62]:
from keras.layers import concatenate

In [79]:
from keras.layers import Input, Embedding, concatenate, Dropout, Dense
from keras.models import Model

def get_model(cat_sz, contin_vars):
    conts = [get_contin(feat) for feat in contin_vars]
    cont_out = [d for inp,d in conts]
    cont_inp = [inp for inp,d in conts]

    embs = [get_emb(feat) for feat in cat_sz]

    x = concatenate([emb for inp,emb in embs] + cont_out)

    x = Dropout(0.02)(x)
    x = Dense(1000, activation='relu', kernel_initializer='uniform')(x)
    x = Dense(500, activation='relu', kernel_initializer='uniform')(x)
    x = Dense(1, activation='sigmoid')(x)

    model = Model(inputs=[inp for inp,emb in embs] + cont_inp, outputs=x)
    model.compile(optimizer='adam', loss='mean_absolute_error')
    
    return model

In [80]:
model = get_model(cat_sz=cat_sz, contin_vars=contin_vars)

In [82]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 Store_in (InputLayer)          [(None, 1)]          0           []

 DayOfWeek_in (InputLayer)      [(None, 1)]          0           []

 Year_in (InputLayer)           [(None, 1)]          0           []

 Month_in (InputLayer)          [(None, 1)]          0           []

 Day_in (InputLayer)            [(None, 1)]          0           []

 StateHoliday_in (InputLayer)   [(None, 1)]          0           []

 CompetitionMonthsOpen_in (Inpu  [(None, 1)]         0           []
 tLayer)

 Promo2Weeks_in (InputLayer)    [(None, 1)]          0           []

 StoreType_in (InputLayer)      [(None, 1)]          0           []

 Assortment_in (InputLayer)     [(None, 1)]          0           []

 PromoInterval_in (InputLayer)  [(None, 1)]          0           []

 CompetitionOpenSinceYear_in (I  [(None, 1)]         0           []
 nputLayer)

 Promo2SinceYear_in (InputLayer  [(None, 1)]         0           []
 )

 State_in (InputLayer)          [(None, 1)]          0           []

 Week_in (InputLayer)           [(None, 1)]          0           []

 Events_in (InputLayer)         [(None, 1)]          0           []

 Promo_fw_in (InputLayer)       [(None, 1)]          0           []

 Promo_bw_in (InputLayer)       [(None, 1)]          0           []

 StateHoliday_fw_in (InputLayer  [(None, 1)]         0           []
 )

 StateHoliday_bw_in (InputLayer  [(None, 1)]         0           []
 )

 SchoolHoliday_fw_in (InputLaye  [(None, 1)]         0           []
 r)

 SchoolHoliday_bw_in (InputLaye  [(None, 1)]         0           []
 r)

 embedding_286 (Embedding)      (None, 1, 50)        55800       ['Store_in[0][0]']

 embedding_287 (Embedding)      (None, 1, 4)         32          ['DayOfWeek_in[0][0]']

 embedding_288 (Embedding)      (None, 1, 2)         8           ['Year_in[0][0]']

 embedding_289 (Embedding)      (None, 1, 7)         91          ['Month_in[0][0]']

 embedding_290 (Embedding)      (None, 1, 16)        512         ['Day_in[0][0]']

 embedding_291 (Embedding)      (None, 1, 2)         6           ['StateHoliday_in[0][0]']

 embedding_292 (Embedding)      (None, 1, 13)        338         ['CompetitionMonthsOpen_in[0][0]'
                                                                 ]

 embedding_293 (Embedding)      (None, 1, 14)        378         ['Promo2Weeks_in[0][0]']

 embedding_294 (Embedding)      (None, 1, 3)         15          ['StoreType_in[0][0]']

 embedding_295 (Embedding)      (None, 1, 2)         8           ['Assortment_in[0][0]']

 embedding_296 (Embedding)      (None, 1, 2)         8           ['PromoInterval_in[0][0]']

 embedding_297 (Embedding)      (None, 1, 12)        288         ['CompetitionOpenSinceYear_in[0][
                                                                 0]']

 embedding_298 (Embedding)      (None, 1, 5)         45          ['Promo2SinceYear_in[0][0]']

 embedding_299 (Embedding)      (None, 1, 7)         91          ['State_in[0][0]']

 embedding_300 (Embedding)      (None, 1, 27)        1431        ['Week_in[0][0]']

 embedding_301 (Embedding)      (None, 1, 11)        242         ['Events_in[0][0]']

 embedding_302 (Embedding)      (None, 1, 4)         28          ['Promo_fw_in[0][0]']

 embedding_303 (Embedding)      (None, 1, 4)         28          ['Promo_bw_in[0][0]']

 embedding_304 (Embedding)      (None, 1, 2)         8           ['StateHoliday_fw_in[0][0]']

 embedding_305 (Embedding)      (None, 1, 2)         8           ['StateHoliday_bw_in[0][0]']

 embedding_306 (Embedding)      (None, 1, 5)         45          ['SchoolHoliday_fw_in[0][0]']

 embedding_307 (Embedding)      (None, 1, 5)         45          ['SchoolHoliday_bw_in[0][0]']

 CompetitionDistance_in (InputL  [(None, 1)]         0           []
 ayer)

 Max_TemperatureC_in (InputLaye  [(None, 1)]         0           []
 r)

 Mean_TemperatureC_in (InputLay  [(None, 1)]         0           []
 er)

 Min_TemperatureC_in (InputLaye  [(None, 1)]         0           []
 r)

 Max_Humidity_in (InputLayer)   [(None, 1)]          0           []

 Mean_Humidity_in (InputLayer)  [(None, 1)]          0           []

 Min_Humidity_in (InputLayer)   [(None, 1)]          0           []

 Max_Wind_SpeedKm_h_in (InputLa  [(None, 1)]         0           []
 yer)

 Mean_Wind_SpeedKm_h_in (InputL  [(None, 1)]         0           []
 ayer)

 CloudCover_in (InputLayer)     [(None, 1)]          0           []

 trend_in (InputLayer)          [(None, 1)]          0           []

 trend_DE_in (InputLayer)       [(None, 1)]          0           []

 AfterStateHoliday_in (InputLay  [(None, 1)]         0           []
 er)

 BeforeStateHoliday_in (InputLa  [(None, 1)]         0           []
 yer)

 Promo_in (InputLayer)          [(None, 1)]          0           []

 SchoolHoliday_in (InputLayer)  [(None, 1)]          0           []

 Store_flt (Flatten)            (None, 50)           0           ['embedding_286[0][0]']

 DayOfWeek_flt (Flatten)        (None, 4)            0           ['embedding_287[0][0]']

 Year_flt (Flatten)             (None, 2)            0           ['embedding_288[0][0]']

 Month_flt (Flatten)            (None, 7)            0           ['embedding_289[0][0]']

 Day_flt (Flatten)              (None, 16)           0           ['embedding_290[0][0]']

 StateHoliday_flt (Flatten)     (None, 2)            0           ['embedding_291[0][0]']

 CompetitionMonthsOpen_flt (Fla  (None, 13)          0           ['embedding_292[0][0]']
 tten)

 Promo2Weeks_flt (Flatten)      (None, 14)           0           ['embedding_293[0][0]']

 StoreType_flt (Flatten)        (None, 3)            0           ['embedding_294[0][0]']

 Assortment_flt (Flatten)       (None, 2)            0           ['embedding_295[0][0]']

 PromoInterval_flt (Flatten)    (None, 2)            0           ['embedding_296[0][0]']

 CompetitionOpenSinceYear_flt (  (None, 12)          0           ['embedding_297[0][0]']
 Flatten)

 Promo2SinceYear_flt (Flatten)  (None, 5)            0           ['embedding_298[0][0]']

 State_flt (Flatten)            (None, 7)            0           ['embedding_299[0][0]']

 Week_flt (Flatten)             (None, 27)           0           ['embedding_300[0][0]']

 Events_flt (Flatten)           (None, 11)           0           ['embedding_301[0][0]']

 Promo_fw_flt (Flatten)         (None, 4)            0           ['embedding_302[0][0]']

 Promo_bw_flt (Flatten)         (None, 4)            0           ['embedding_303[0][0]']

 StateHoliday_fw_flt (Flatten)  (None, 2)            0           ['embedding_304[0][0]']

 StateHoliday_bw_flt (Flatten)  (None, 2)            0           ['embedding_305[0][0]']

 SchoolHoliday_fw_flt (Flatten)  (None, 5)           0           ['embedding_306[0][0]']

 SchoolHoliday_bw_flt (Flatten)  (None, 5)           0           ['embedding_307[0][0]']

 CompetitionDistance_d (Dense)  (None, 1)            2           ['CompetitionDistance_in[0][0]']

 Max_TemperatureC_d (Dense)     (None, 1)            2           ['Max_TemperatureC_in[0][0]']

 Mean_TemperatureC_d (Dense)    (None, 1)            2           ['Mean_TemperatureC_in[0][0]']

 Min_TemperatureC_d (Dense)     (None, 1)            2           ['Min_TemperatureC_in[0][0]']

 Max_Humidity_d (Dense)         (None, 1)            2           ['Max_Humidity_in[0][0]']

 Mean_Humidity_d (Dense)        (None, 1)            2           ['Mean_Humidity_in[0][0]']

 Min_Humidity_d (Dense)         (None, 1)            2           ['Min_Humidity_in[0][0]']

 Max_Wind_SpeedKm_h_d (Dense)   (None, 1)            2           ['Max_Wind_SpeedKm_h_in[0][0]']

 Mean_Wind_SpeedKm_h_d (Dense)  (None, 1)            2           ['Mean_Wind_SpeedKm_h_in[0][0]']

 CloudCover_d (Dense)           (None, 1)            2           ['CloudCover_in[0][0]']

 trend_d (Dense)                (None, 1)            2           ['trend_in[0][0]']

 trend_DE_d (Dense)             (None, 1)            2           ['trend_DE_in[0][0]']

 AfterStateHoliday_d (Dense)    (None, 1)            2           ['AfterStateHoliday_in[0][0]']

 BeforeStateHoliday_d (Dense)   (None, 1)            2           ['BeforeStateHoliday_in[0][0]']

 Promo_d (Dense)                (None, 1)            2           ['Promo_in[0][0]']

 SchoolHoliday_d (Dense)        (None, 1)            2           ['SchoolHoliday_in[0][0]']

 concatenate_10 (Concatenate)   (None, 215)          0           ['Store_flt[0][0]',
                                                                  'DayOfWeek_flt[0][0]',
                                                                  'Year_flt[0][0]',
                                                                  'Month_flt[0][0]',
                                                                  'Day_flt[0][0]',
                                                                  'StateHoliday_flt[0][0]',
                                                                  'CompetitionMonthsOpen_flt[0][0]
                                                                 ',
                                                                  'Promo2Weeks_flt[0][0]',
                                                                  'StoreType_flt[0][0]',
                                                                  'Assortment_flt[0][0]',
                                                                  'PromoInterval_flt[0][0]',
                                                                  'CompetitionOpenSinceYear_flt[0]
                                                                 [0]',
                                                                  'Promo2SinceYear_flt[0][0]',
                                                                  'State_flt[0][0]',
                                                                  'Week_flt[0][0]',
                                                                  'Events_flt[0][0]',
                                                                  'Promo_fw_flt[0][0]',
                                                                  'Promo_bw_flt[0][0]',
                                                                  'StateHoliday_fw_flt[0][0]',
                                                                  'StateHoliday_bw_flt[0][0]',
                                                                  'SchoolHoliday_fw_flt[0][0]',
                                                                  'SchoolHoliday_bw_flt[0][0]',
                                                                  'CompetitionDistance_d[0][0]',
                                                                  'Max_TemperatureC_d[0][0]',
                                                                  'Mean_TemperatureC_d[0][0]',
                                                                  'Min_TemperatureC_d[0][0]',
                                                                  'Max_Humidity_d[0][0]',
                                                                  'Mean_Humidity_d[0][0]',
                                                                  'Min_Humidity_d[0][0]',
                                                                  'Max_Wind_SpeedKm_h_d[0][0]',
                                                                  'Mean_Wind_SpeedKm_h_d[0][0]',
                                                                  'CloudCover_d[0][0]',
                                                                  'trend_d[0][0]',
                                                                  'trend_DE_d[0][0]',
                                                                  'AfterStateHoliday_d[0][0]',
                                                                  'BeforeStateHoliday_d[0][0]',
                                                                  'Promo_d[0][0]',
                                                                  'SchoolHoliday_d[0][0]']

 dropout_9 (Dropout)            (None, 215)          0           ['concatenate_10[0][0]']

 dense_3 (Dense)                (None, 1000)         216000      ['dropout_9[0][0]']

 dense_4 (Dense)                (None, 500)          500500      ['dense_3[0][0]']

 dense_5 (Dense)                (None, 1)            501         ['dense_4[0][0]']

==================================================================================================
Total params: 776,488
Trainable params: 776,488
Non-trainable params: 0
__________________________________________________________________________________________________

In [83]:
joined.shape

(844338, 39)

In [84]:
joined.columns

Index(['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday',
       'CompetitionMonthsOpen', 'Promo2Weeks', 'StoreType', 'Assortment',
       'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear', 'State',
       'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw',
       'StateHoliday_bw', 'SchoolHoliday_fw', 'SchoolHoliday_bw',
       'CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend',
       'trend_DE', 'AfterStateHoliday', 'BeforeStateHoliday', 'Promo',
       'SchoolHoliday', 'Sales'],
      dtype='object')

In [85]:
len(model.input)

38

In [86]:
X_train = joined[['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday',
       'CompetitionMonthsOpen', 'Promo2Weeks', 'StoreType', 'Assortment',
       'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear', 'State',
       'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw',
       'StateHoliday_bw', 'SchoolHoliday_fw', 'SchoolHoliday_bw',
       'CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend',
       'trend_DE', 'AfterStateHoliday', 'BeforeStateHoliday', 'Promo',
       'SchoolHoliday']]
y_train = joined[[dep]]

In [100]:
X_train.shape

(844338, 38)

In [119]:
# X_train_list = np.hsplit(X_train.values, X_train.shape[1])
X_train_list = np.vsplit(X_train.values, X_train.shape[0])
X_train_list = np.vsplit(float(X_train.values), X_train.shape[0])

TypeError: only size-1 arrays can be converted to Python scalars

In [ ]:
X_train_list

[array([[1, 5, 2015, 7, 31, False, 24, 0, 'c', 'a', nan, 2008, 1900, 'HE',
         31, 'Fog', 5.0, 5.0, 0.0, 0.0, 7.0, 5.0, 1270.0, 23.0, 16.0, 8.0,
         98.0, 54.0, 18.0, 24.0, 11.0, 1.0, 85.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[2, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         2007, 2010, 'TH', 31, 'Fog', 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 570.0,
         19.0, 13.0, 7.0, 100.0, 62.0, 25.0, 14.0, 11.0, 4.0, 80.0, 83.0,
         67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[3, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         2006, 2011, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         14130.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0,
         86.0, 83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[4, 5, 2015, 7, 31, False, 24, 0, 'c', 'c', nan, 2009, 1900, 'BE',
         31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 620.0, 19.0, 14.0, 9.0,
         94.0, 61.0, 30.0, 23.0, 16.0, 6.0, 74.0, 83.0, 67.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[5, 5, 2015, 7, 31, False, 3, 0, 'a', 'a', nan, 2015, 1900, 'SN',
         31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 29910.0, 20.0, 15.0, 10.0,
         82.0, 55.0, 26.0, 14.0, 11.0, 4.0, 82.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[6, 5, 2015, 7, 31, False, 19, 0, 'a', 'a', nan, 2013, 1900, 'SN',
         31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 310.0, 20.0, 15.0, 10.0,
         82.0, 55.0, 26.0, 14.0, 11.0, 4.0, 82.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[7, 5, 2015, 7, 31, False, 24, 0, 'a', 'c', nan, 2013, 1900, 'SH',
         31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 24000.0, 18.0, 14.0,
         8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0, 83.0, 67.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[8, 5, 2015, 7, 31, False, 9, 0, 'a', 'a', nan, 2014, 1900, 'SH',
         31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 7520.0, 18.0, 14.0,
         8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0, 83.0, 67.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[9, 5, 2015, 7, 31, False, 24, 0, 'a', 'c', nan, 2000, 1900, 'NW',
         31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 2030.0, 21.0, 13.0, 6.0,
         100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[10, 5, 2015, 7, 31, False, 24, 0, 'a', 'a', nan, 2009, 1900,
         'HB,NI', 31, nan, 5.0, 5.0, 0.0, 0.0, 7.0, 7.0, 3160.0, 18.0,
         13.0, 8.0, 94.0, 67.0, 30.0, 21.0, 13.0, 5.0, 80.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[11, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2011, 2012, 'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         960.0, 18.0, 14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0,
         83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[12, 5, 2015, 7, 31, False, 0, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         1900, 2010, 'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         1070.0, 18.0, 14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0,
         83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[13, 5, 2015, 7, 31, False, 0, 25, 'd', 'a', 'Feb,May,Aug,Nov',
         1900, 2009, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 310.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[14, 5, 2015, 7, 31, False, 16, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         2014, 2011, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         1300.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[15, 5, 2015, 7, 31, False, 24, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',
         2010, 2011, 'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         4110.0, 18.0, 14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0,
         83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[16, 5, 2015, 7, 31, False, 0, 0, 'a', 'c', nan, 1900, 1900, 'BW',
         31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 2.0, 3270.0, 23.0, 15.0, 7.0,
         87.0, 51.0, 20.0, 16.0, 10.0, 2.0, 91.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[17, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         2005, 2010, 'TH', 31, 'Fog', 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 50.0,
         19.0, 13.0, 7.0, 100.0, 62.0, 25.0, 14.0, 11.0, 4.0, 80.0, 83.0,
         67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[18, 5, 2015, 7, 31, False, 24, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',
         2010, 2012, 'TH', 31, 'Fog', 1.0, 5.0, 0.0, 0.0, 1.0, 5.0,
         13840.0, 19.0, 13.0, 7.0, 100.0, 62.0, 25.0, 14.0, 11.0, 4.0,
         80.0, 83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[19, 5, 2015, 7, 31, False, 0, 25, 'a', 'c', 'Mar,Jun,Sept,Dec',
         1900, 2011, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         3240.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[20, 5, 2015, 7, 31, False, 24, 25, 'd', 'a', 'Jan,Apr,Jul,Oct',
         2009, 2014, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 2340.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[21, 5, 2015, 7, 31, False, 24, 25, 'c', 'c', 'Jan,Apr,Jul,Oct',
         1999, 2009, 'BW', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 2.0, 550.0,
         23.0, 15.0, 7.0, 87.0, 51.0, 20.0, 16.0, 10.0, 2.0, 91.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[22, 5, 2015, 7, 31, False, 0, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         1900, 2012, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 1040.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[23, 5, 2015, 7, 31, False, 24, 0, 'd', 'a', nan, 2005, 1900,
         'RP', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 4060.0, 24.0, 16.0,
         8.0, 88.0, 49.0, 21.0, 14.0, 10.0, 3.0, 66.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[24, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2000, 2011, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         4590.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[25, 5, 2015, 7, 31, False, 24, 0, 'c', 'a', nan, 2003, 1900,
         'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 430.0, 21.0, 13.0,
         6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[26, 5, 2015, 7, 31, False, 0, 0, 'd', 'a', nan, 1900, 1900, 'TH',
         31, 'Fog', 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 2300.0, 19.0, 13.0, 7.0,
         100.0, 62.0, 25.0, 14.0, 11.0, 4.0, 80.0, 83.0, 67.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[27, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         2005, 2011, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 60.0,
         21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[28, 5, 2015, 7, 31, False, 9, 25, 'a', 'a', 'Mar,Jun,Sept,Dec',
         2014, 2015, 'ST', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 1200.0,
         19.0, 14.0, 9.0, 86.0, 55.0, 27.0, 14.0, 8.0, 8.0, 62.0, 83.0,
         67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[29, 5, 2015, 7, 31, False, 0, 0, 'd', 'c', nan, 1900, 1900, 'NW',
         31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 2170.0, 21.0, 13.0, 6.0,
         100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[30, 5, 2015, 7, 31, False, 17, 25, 'a', 'a', 'Mar,Jun,Sept,Dec',
         2014, 2014, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 40.0,
         21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[31, 5, 2015, 7, 31, False, 24, 0, 'd', 'c', nan, 2012, 1900,
         'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 9800.0, 18.0,
         14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[32, 5, 2015, 7, 31, False, 0, 25, 'a', 'a', 'Feb,May,Aug,Nov',
         1900, 2009, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 2910.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[33, 5, 2015, 7, 31, False, 24, 0, 'a', 'c', nan, 2013, 1900,
         'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 1320.0, 21.0,
         13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[34, 5, 2015, 7, 31, False, 24, 0, 'c', 'a', nan, 2009, 1900,
         'BE', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 2240.0, 19.0, 14.0,
         9.0, 94.0, 61.0, 30.0, 23.0, 16.0, 6.0, 74.0, 83.0, 67.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[35, 5, 2015, 7, 31, False, 24, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',
         2000, 2012, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         7660.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[36, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2003, 2014, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 540.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[37, 5, 2015, 7, 31, False, 7, 0, 'c', 'a', nan, 2014, 1900, 'ST',
         31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 4230.0, 19.0, 14.0, 9.0,
         86.0, 55.0, 27.0, 14.0, 8.0, 8.0, 62.0, 83.0, 67.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[38, 5, 2015, 7, 31, False, 24, 0, 'd', 'a', nan, 2007, 1900,
         'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 1090.0, 21.0,
         13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[39, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Feb,May,Aug,Nov',
         2006, 2013, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 260.0,
         21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[40, 5, 2015, 7, 31, False, 0, 25, 'a', 'a', 'Feb,May,Aug,Nov',
         1900, 2009, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 180.0,
         21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[41, 5, 2015, 7, 31, False, 0, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',
         1900, 2013, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 1180.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[42, 5, 2015, 7, 31, False, 0, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         1900, 2011, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 290.0,
         21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[43, 5, 2015, 7, 31, False, 0, 25, 'd', 'a', 'Jan,Apr,Jul,Oct',
         1900, 2009, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         4880.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[44, 5, 2015, 7, 31, False, 24, 0, 'a', 'a', nan, 2011, 1900,
         'BE', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 540.0, 19.0, 14.0,
         9.0, 94.0, 61.0, 30.0, 23.0, 16.0, 6.0, 74.0, 83.0, 67.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[45, 5, 2015, 7, 31, False, 17, 0, 'd', 'a', nan, 2014, 1900,
         'RP', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 9710.0, 24.0, 16.0,
         8.0, 88.0, 49.0, 21.0, 14.0, 10.0, 3.0, 66.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[46, 5, 2015, 7, 31, False, 24, 25, 'c', 'a', 'Jan,Apr,Jul,Oct',
         2005, 2011, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 1200.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[47, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2013, 2013, 'HH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         270.0, 17.0, 13.0, 8.0, 100.0, 70.0, 35.0, 29.0, 14.0, 4.0, 70.0,
         83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[48, 5, 2015, 7, 31, False, 24, 0, 'a', 'a', nan, 2012, 1900,
         'HH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 1060.0, 17.0,
         13.0, 8.0, 100.0, 70.0, 35.0, 29.0, 14.0, 4.0, 70.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[49, 5, 2015, 7, 31, False, 24, 0, 'd', 'c', nan, 2007, 1900,
         'BW', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 2.0, 18010.0, 23.0, 15.0,
         7.0, 87.0, 51.0, 20.0, 16.0, 10.0, 2.0, 91.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[50, 5, 2015, 7, 31, False, 24, 0, 'd', 'a', nan, 2009, 1900,
         'RP', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 6260.0, 24.0, 16.0,
         8.0, 88.0, 49.0, 21.0, 14.0, 10.0, 3.0, 66.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[51, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2013, 2011, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 10570.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[52, 5, 2015, 7, 31, False, 15, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',
         2014, 2010, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 450.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[53, 5, 2015, 7, 31, False, 22, 0, 'a', 'c', nan, 2013, 1900,
         'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 30360.0, 18.0,
         14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[54, 5, 2015, 7, 31, False, 11, 25, 'd', 'c', 'Feb,May,Aug,Nov',
         2014, 2013, 'ST', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 7170.0,
         19.0, 14.0, 9.0, 86.0, 55.0, 27.0, 14.0, 8.0, 8.0, 62.0, 83.0,
         67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[55, 5, 2015, 7, 31, False, 24, 0, 'a', 'a', nan, 2004, 1900,
         'SN', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 720.0, 20.0, 15.0,
         10.0, 82.0, 55.0, 26.0, 14.0, 11.0, 4.0, 82.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[56, 5, 2015, 7, 31, False, 24, 25, 'd', 'c', 'Mar,Jun,Sept,Dec',
         2012, 2014, 'HE', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 7.0, 5.0,
         6620.0, 23.0, 16.0, 8.0, 98.0, 54.0, 18.0, 24.0, 11.0, 1.0, 85.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[57, 5, 2015, 7, 31, False, 13, 0, 'd', 'c', nan, 2014, 1900,
         'SN', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 420.0, 20.0, 15.0,
         10.0, 82.0, 55.0, 26.0, 14.0, 11.0, 4.0, 82.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[58, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2008, 2012, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 7340.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[59, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2007, 2011, 'TH', 31, 'Fog', 1.0, 5.0, 0.0, 0.0, 1.0, 5.0,
         2840.0, 19.0, 13.0, 7.0, 100.0, 62.0, 25.0, 14.0, 11.0, 4.0,
         80.0, 83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[60, 5, 2015, 7, 31, False, 24, 0, 'd', 'c', nan, 2009, 1900,
         'SN', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 5540.0, 20.0, 15.0,
         10.0, 82.0, 55.0, 26.0, 14.0, 11.0, 4.0, 82.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[61, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2007, 2012, 'BW', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 2.0, 350.0,
         23.0, 15.0, 7.0, 87.0, 51.0, 20.0, 16.0, 10.0, 2.0, 91.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[62, 5, 2015, 7, 31, False, 0, 0, 'a', 'a', nan, 1900, 1900, 'NW',
         31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 2050.0, 21.0, 13.0, 6.0,
         100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[63, 5, 2015, 7, 31, False, 24, 25, 'c', 'c', 'Feb,May,Aug,Nov',
         2010, 2010, 'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         3700.0, 18.0, 14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0,
         83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[64, 5, 2015, 7, 31, False, 0, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',
         1900, 2013, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         22560.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0,
         86.0, 83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[65, 5, 2015, 7, 31, False, 24, 25, 'a', 'c', 'Jan,Apr,Jul,Oct',
         2010, 2012, 'ST', 31, nan, 1.0, 5.0, 0.0, 0.0, 1.0, 5.0, 13840.0,
         19.0, 14.0, 9.0, 86.0, 55.0, 27.0, 14.0, 8.0, 8.0, 62.0, 83.0,
         67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[66, 5, 2015, 7, 31, False, 0, 25, 'd', 'a', 'Jan,Apr,Jul,Oct',
         1900, 2009, 'BW', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 2.0, 7660.0,
         23.0, 15.0, 7.0, 87.0, 51.0, 20.0, 16.0, 10.0, 2.0, 91.0, 83.0,
         57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[67, 5, 2015, 7, 31, False, 24, 0, 'a', 'c', nan, 2006, 1900,
         'BW', 31, nan, 5.0, 5.0, 0.0, 0.0, 5.0, 2.0, 410.0, 23.0, 15.0,
         7.0, 87.0, 51.0, 20.0, 16.0, 10.0, 2.0, 91.0, 83.0, 57.0, 0.0,
         1.0, 1.0]], dtype=object),
 array([[68, 5, 2015, 7, 31, False, 0, 25, 'a', 'c', 'Mar,Jun,Sept,Dec',
         1900, 2012, 'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         250.0, 18.0, 14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0,
         83.0, 67.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[69, 5, 2015, 7, 31, False, 0, 25, 'c', 'c', 'Jan,Apr,Jul,Oct',
         1900, 2011, 'HE', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 7.0, 5.0,
         1130.0, 23.0, 16.0, 8.0, 98.0, 54.0, 18.0, 24.0, 11.0, 1.0, 85.0,
         83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[70, 5, 2015, 7, 31, False, 0, 0, 'c', 'c', nan, 1900, 1900,
         'HB,NI', 31, nan, 5.0, 5.0, 0.0, 0.0, 7.0, 7.0, 4840.0, 18.0,
         13.0, 8.0, 94.0, 67.0, 30.0, 21.0, 13.0, 5.0, 80.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[71, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Mar,Jun,Sept,Dec',
         2008, 2009, 'NW', 31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0,
         17500.0, 21.0, 13.0, 6.0, 100.0, 61.0, 24.0, 14.0, 5.0, 2.0,
         86.0, 83.0, 57.0, 0.0, 1.0, 1.0]], dtype=object),
 array([[72, 5, 2015, 7, 31, False, 24, 25, 'a', 'a', 'Jan,Apr,Jul,Oct',
         2009, 2010, 'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 2200.0,
         23.0, 17.0, 10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0,
         57.0, -15.0, 1.0, 0.0]], dtype=object),
 array([[73, 5, 2015, 7, 31, False, 24, 0, 'a', 'c', nan, 2008, 1900,
         'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 1650.0, 18.0,
         14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[74, 5, 2015, 7, 31, False, 0, 0, 'a', 'a', nan, 1900, 1900, 'NW',
         31, 'Fog', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 330.0, 21.0, 13.0, 6.0,
         100.0, 61.0, 24.0, 14.0, 5.0, 2.0, 86.0, 83.0, 57.0, 0.0, 1.0,
         1.0]], dtype=object),
 array([[75, 5, 2015, 7, 31, False, 19, 0, 'd', 'c', nan, 2013, 1900,
         'SH', 31, 'Rain', 5.0, 5.0, 0.0, 0.0, 5.0, 5.0, 22440.0, 18.0,
         14.0, 8.0, 88.0, 61.0, 33.0, 26.0, 13.0, 6.0, 77.0, 83.0, 67.0,
         0.0, 1.0, 1.0]], dtype=object),
 array([[76, 5, 2015, 7, 31, False, 24, 0, 'd', 'c', nan, 2006, 1900,
         'BY', 31, nan, 5.0, 5.0, 0.0, 0.0, 4.0, 0.0, 19960.0, 23.0, 17.0,
         10.0, 87.0, 50.0, 27.0, 19.0, 6.0, 0.0, 86.0, 83.0, 57.0, -15.0,
         1.0, 0.0]], dtype=object),
 array([[77, 5, 2015, 7, 31, False, 24, 25, 'd', 'c', 'Jan,Apr,Jul,Oct',

In [106]:
len(X_train_list)

844338

In [109]:
model.fit(X_train_list, y_train.values[:,0])

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [115]:
from keras import backend as K

In [116]:
import numpy as np

# Convert input data to NumPy arrays if not already
X_train_array = K.constant( np.asarray(X_train_list) )
y_train_array = K.constant( np.asarray(y_train.values[:, 0]) )

# ... Rest of your code ...

# Assuming your model is already defined using the get_model function
model = get_model(cat_sz, contin_vars)

# Ensure that input shapes match
assert X_train_array.shape[0] == y_train_array.shape[0]

# Train the model
model.fit(X_train_array, y_train_array)

ValueError: could not convert string to float: 'c'

In [91]:
for d in X_train_list:
    print(d)

[[1]
 [2]
 [3]
 ...
 [769]
 [948]
 [1097]]
[[5]
 [5]
 [5]
 ...
 [2]
 [2]
 [2]]
[[2015]
 [2015]
 [2015]
 ...
 [2013]
 [2013]
 [2013]]
[[7]
 [7]
 [7]
 ...
 [1]
 [1]
 [1]]
[[31]
 [31]
 [31]
 ...
 [1]
 [1]
 [1]]
[[False]
 [False]
 [False]
 ...
 [True]
 [True]
 [True]]
[[24]
 [24]
 [24]
 ...
 [0]
 [0]
 [24]]
[[0]
 [25]
 [25]
 ...
 [5]
 [0]
 [0]]
[['c']
 ['a']
 ['a']
 ...
 ['b']
 ['b']
 ['b']]
[['a']
 ['a']
 ['a']
 ...
 ['b']
 ['b']
 ['b']]
[[nan]
 ['Jan,Apr,Jul,Oct']
 ['Jan,Apr,Jul,Oct']
 ...
 ['Jan,Apr,Jul,Oct']
 [nan]
 [nan]]
[[2008]
 [2007]
 [2006]
 ...
 [1900]
 [1900]
 [2002]]
[[1900]
 [2010]
 [2011]
 ...
 [2012]
 [1900]
 [1900]]
[['HE']
 ['TH']
 ['NW']
 ...
 ['NW']
 ['BW']
 ['RP']]
[[31]
 [31]
 [31]
 ...
 [1]
 [1]
 [1]]
[['Fog']
 ['Fog']
 ['Fog']
 ...
 ['Rain']
 ['Fog-Rain']
 ['Rain']]
[[5.0]
 [1.0]
 [5.0]
 ...
 [1.0]
 [1.0]
 [1.0]]
[[5.0]
 [5.0]
 [5.0]
 ...
 [0.0]
 [0.0]
 [0.0]]
[[0.0]
 [0.0]
 [0.0]
 ...
 [1.0]
 [2.0]
 [1.0]]
[[0.0]
 [0.0]
 [0.0]
 ...
 [1.0]
 [1.0]
 [1.0]]
[[7.0]
 [1.0]
 [5.0]
 ...
 [4.0]
 [4.0]
 [4.0]]
[[5.0]
 [5.0]
 [5.0]
 ...
 [1.0]
 [1.0]
 [1.0]]
[[1270.0]
 [570.0]
 [14130.0]
 ...
 [840.0]
 [1430.0]
 [720.0]]
[[23.0]
 [19.0]
 [21.0]
 ...
 [8.0]
 [8.0]
 [8.0]]
[[16.0]
 [13.0]
 [13.0]
 ...
 [4.0]
 [3.0]
 [6.0]]
[[8.0]
 [7.0]
 [6.0]
 ...
 [2.0]
 [-2.0]
 [4.0]]
[[98.0]
 [100.0]
 [100.0]
 ...
 [94.0]
 [93.0]
 [92.0]]
[[54.0]
 [62.0]
 [61.0]
 ...
 [87.0]
 [80.0]
 [75.0]]
[[18.0]
 [25.0]
 [24.0]
 ...
 [65.0]
 [51.0]
 [59.0]]
[[24.0]
 [14.0]
 [14.0]
 ...
 [39.0]
 [23.0]
 [26.0]]
[[11.0]
 [11.0]
 [5.0]
 ...
 [26.0]
 [6.0]
 [19.0]]
[[1.0]
 [4.0]
 [2.0]
 ...
 [6.0]
 [6.0]
 [8.0]]
[[85.0]
 [80.0]
 [86.0]
 ...
 [63.0]
 [59.0]
 [36.0]]
[[83.0]
 [83.0]
 [83.0]
 ...
 [62.0]
 [62.0]
 [62.0]]
[[57.0]
 [67.0]
 [57.0]
 ...
 [0.0]
 [0.0]
 [0.0]]
[[0.0]
 [0.0]
 [0.0]
 ...
 [0.0]
 [0.0]
 [0.0]]
[[1.0]
 [1.0]
 [1.0]
 ...
 [0.0]
 [0.0]
 [0.0]]
[[1.0]
 [1.0]
 [1.0]
 ...
 [1.0]
 [1.0]
 [1.0]]